# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# turbo
.turbo/

# build
dist/

# env
.env
.env.local
.env.*.local

# debug
npm-debug.log*

# ide
.vscode/
.idea/
*.swp
*.swo

# os
.DS_Store
Thumbs.db

# prisma
packages/database/prisma/migrations/

# vercel
.vercel
